<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd"
       default-autowire="byName">

    <!-- ******** BUSINESS/DOMAIN TEST BEAN DECLARATIONS ******** -->


    <!-- Transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <!-- Enables @Transactional -->
    <tx:annotation-driven transaction-manager="transactionManager"/>


    <bean id="encryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
        <property name="algorithm">
            <value>PBEWithMD5AndDES</value>
        </property>
        <property name="password">
            <value>jasypt</value>
        </property>
    </bean>


  <!-- ******** EXTERNAL FRAMEWORK DECLARATIONS ******** -->
  
  <!-- override em factory with H2 settings -->
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
     <property name="dataSource" ref="dataSource"/>
     <property name="persistenceUnitName" value="adminPersistenceUnit"/>
     <property name="jpaVendorAdapter">
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
           <property name="showSql" value="false" />
           <property name="generateDdl" value="true" />
           <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect" />
        </bean>
     </property>
  </bean>

   <!-- incompatible with hibernate 3.2.0
   <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect" />
   -->


  <!-- override data source with an in memory H2  -->
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="org.h2.Driver"/>
    <property name="url" value="jdbc:h2:mem:backend"/>
    <property name="username" value="sa"/>
    <property name="password" value=""/>
  </bean>
  
   <!-- incompatible with hibernate 3.2.0 (add to dataSource)
    <property name="driverClassName" value="org.h2.Driver"/>
    <property name="url" value="jdbc:h2:mem:wallet"/>    
    -->
  
  
</beans>